.footer {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    padding: 20px 0;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #f39c12;
}

.footer-social .social-icon {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
}

.footer-social .social-icon {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    /* حجم الأيقونات */
    transition: color 0.3s;
}

.footer-social .social-icon:hover {
    color: #f39c12;
    /* تغيير اللون عند التمرير */
}